<!-- /landing/home.html -->

{% extends 'lifestream/base.html' %}

{% block title %}
LifeStream | Home
{% endblock title %}

{% block content %}
<section class='section-landing'>

<div class='container container--landing'>
	<div class='quote u-margin-bottom'>
		<p class='quote--main'>“The purpose of human life is to serve, and to show compassion and the will to help others.”  – Albert Schweitzer</p>
	</div>
	<div class='container'>

		<a href='{% url "donor:index" %}' class='btn u-gutter-horizontal'>Become A Donor</a>
		<div class='divider divider--small'></div>
		<a href='{% url "donor:search" %}' class='btn'>Find A Donor</a>
	</div>
</div>

</section>
{% endblock content %}